
.sidebar{
    height: 60em;
    width: 14em;
    border-right: 0.1em solid rgba(139, 197, 214,0.5);
    align-items: center;
    padding-top: 4em;
    box-shadow: 9px -1px 5px 0px rgba(202,216,230,0.1);
    
    .title{
        font-family: 'Playfair Display SC', serif;
        font-size: 1.2em;
        color: whitesmoke;
    }
    .genre{
        list-style-type: none;
        font-family: 'Playfair Display SC', serif;
        font-size: 1.0em;
        color: 		rgb(208,208,208);
        .genreitem{
            margin-bottom: 1em;
            margin-right: 2em;
        }
       
    }
    
}
@media only screen and (max-width : 768px){
    .sidebar{
        height: 2em;
        padding-top: 1em;
        width: 100vw;
        input{
            width:90vw;
            border-radius: 15px;
        }
        .title{
            display: none;
        }
        .genre{
            display: none;
        }
        
    } 
}